<form [formGroup]="signUpForm" (ngSubmit)="onSignUpSubmit()">
  <div>
    <label>
      First Name: <input type="text" formControlName="firstName" />
    </label>
  </div>
  <div>
    <label> Last Name: <input type="text" formControlName="lastName" /> </label>
  </div>
  <div>
    <label>
      Email Address: <input type="text" formControlName="emailAddress" />
    </label>
  </div>
  <div>
    <label> Activity: <input type="text" formControlName="activity" /> </label>
  </div>
  <div>
    <label>
      Comments: <textarea formControlName="comments"></textarea>
    </label>
  </div>
  <div>
    <button type="submit" [disabled]="!signUpForm.valid">Submit</button>
  </div>
</form>
